/**
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-nav: #562EFF;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #9F9F9F;
    --color-light-gray: #A2A2A2;
    --color-divider: #D1D1D1;
    --color-bg: #E5E5E5;
    --color-course-headline: #1E1E1E;
    --color-light-orange: #ED6B4F;
    --color-course-duration: #FF4A60;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
}

input,
button,
textarea,
select {
    font: inherit;
}

/**
    General Reuse Components
*/

/* Headline */

.heading-secondary {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-nav);
}

.heading-tertiary {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 500;
}

/* Grid */

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

/* Space */

.margin-b-80 {
    margin-bottom: 8rem;
}

.margin-b-40 {
    margin-bottom: 4rem;
}

.margin-b-30 {
    margin-bottom: 3rem;
}

/* Layout */

.container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 3rem;
}

.bg-white {
    background-color: var(--color-white);
    border-radius: 5px;
}