/**

    -- Header
        # Logo
        # Main Navigation
        # Active User

    -- Top Players
        # Players

    -- Top Blog
        # Article
*/

/* Header */
.header {
    background-color: var(--color-nav);
}

.header-container {
    max-width: 100rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.site-url {
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;

}

.logo {
    width: 4rem;
    height: 5rem;
}

.site-title {
    color: var(--color-white);
    font-size: 2.4rem;
    font-weight: 500;
}

.main-nav {
    align-items: center;
    justify-content: center;
    gap: 3.6rem;
}

.main-nav--list {
    gap: 3.6rem;
    list-style-type: none;
}

.main-nav--link {
    font-size: 1.6rem;

    color: var(--color-white);
    font-weight: 400;
}

/* Main */

.top-section {
    padding: 3.5rem 5rem;
}

/* Top Players */

.top-player {
    border-bottom: 1px solid var(--color-divider);
    padding-bottom: 3rem;
}

.players {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    row-gap: 3rem;
}

.player {
    justify-content: left;
    align-items: center;
    gap: 1.6rem;
}

.player--img {
    width: 5.6rem;
    height: 5.6rem;
}

.player--name {
    font-size: 1.8rem;
    color: var(--color-black);
    font-weight: 500;
}

/* Top Blog */

.articles {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
    row-gap: 2.5rem;
}

.article {
    gap: 1.6rem;
}

.article--thumbnail {
    width: 45%;
}

.article--meta {
    flex-direction: column;
    align-items: flex-start;
    gap: .6rem;
    justify-content: space-around;
}

.article--link {

    color: var(--color-black);
}

.article--category {
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.article--category span {
    font-size: 1.6rem;
    color: var(--color-gray);
}

.category {

    color: var(--color-nav);
    font-size: 1.6rem;
}

/* Latest Course */

.course-section {
    margin-bottom: 3rem;
}

.course--image {
    width: 100%;
}

.courses {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
}

.course {
    flex-direction: column;
    padding: 1.4rem 1.6rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 13px;
    border-radius: 10px;
}

.course--details {
    margin-bottom: .5rem;
}

.course--name {
    display: inline-block;
    color: var(--color-course-headline);
    margin-bottom: .5rem;
}

.course--name h3 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.course--instructor {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-light-orange);
}

.course--meta {
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.course--rating i.fa {
    font-size: 1.6rem;
    color: #FFC014;
}

.course--rating i.no-color {
    color: #EAEAEA;
}

.rating-number {
    color: var(--color-gray);
}

.course--duration {
    background-color: var(--color-course-duration-bg);
    color: var(--color-course-duration-text);
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}